<footer>
    
        <div class="f-info">
            <div class="f-info-social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div> &copy;wanderlust pvt limited</div>
            <div class="f-info-links">
                <a href="">privacy</a>
            <a href="">term</a>
            </div>
            
        </div>
        
</footer>