<% layout("/layouts/boilerplate")%>
<body>
    <br><br><br>
    
    <form method="post" action="/listings/post" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Create new listing</h1>
        <div class="mb-3">
            <label for="title" class="form-label">enter title</label>
            <input type="text" name="list[title]" placeholder="title" class="form-control" required>
            <div class="valid-feedback">title looks good</div>
            <div class="invalid-feedback">title looks not good</div>

        </div>

        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea name="list[description]" placeholder="description" class="form-control" required></textarea> 
        </div>

        
        <div class="mb-3">
            <label for="image" class="form-label">image link</label>
            <input type="file" name="list[image]" class="form-control"  required>
           
        </div>
     <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input type="number" name="list[price]" placeholder="price" class="form-control" required>
        </div>
       
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="list[country]" placeholder="country" class="form-control" required>
        </div>
    </div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="list[location]" placeholder="location" class="form-control" required>
        </div>
   
        
        <button class="btn btn-dark add-btn">add</button>
    </div>
</div>
    </form>
</body>
