body{
    font-size:"plus jakarta sans",sans-serif !important;  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font: size 2rem;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    }
.f-info-links a:hover {
        text-decoration: underline;       
}

.f-info-social,.f-info-links{
    width: 100%;
    font-size: 1.2rem;
}
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align:center; 
    display: flex;
    height: 8rem;
    background-color: rgb(217, 214, 214);
    flex-wrap:wrap ;
    justify-content:center ;
    align-items:space-evenly;
}

.listing-cards{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
  font-weight: 400;  
}
.list-link{
   text-decoration: none; 
}
.list-link:hover{
    opacity: 80%;
}
.add-btn{
   background-color: #fe424d !important;
   border: none !important; 
}
.btns{
    display: flex !important;
}
.btns button{
    width: 5rem !important;
}
